.header {
    background-color: transparent;
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #353535;
        
        & > svg {
            font-size: 2rem;
            margin-right: 1em;
        }
    }
}

.header-links, .header-login {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
}
  
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.faXmark {
    animation: spin .3s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.faBarsStaggered {
    animation: fade .2s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.header-menu {
    padding-top: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f6f3f9;
    position: fixed;
    z-index: 1;
    animation: fade .3s ease-in-out;
    transition: all .5s ease-in-out;

    & .nav-links-central, .nav-links-right {
        text-align: center;
        display: flex;
        flex-direction: column;

        & .link {
            color: #353535;
            padding: .6em 0;
            font-size: 1.5rem;
            font-weight: 400;
            position: relative;
        }

        & :hover {
            color: #42146a;
            cursor: pointer;
            font-weight: 500;
            transition: all .3s ease-in-out;
        }   
    }
}

.contact-icons {
    margin: 5em auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & .icons {
        width: 2.5em;
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: .5em;
        margin: 0 .8em;
        font-size: 1.5rem;
        color: #353535;
        transition: all .2s ease-in-out;
    }

    & .icons:hover {
        color: #42146a;
        border: .5px solid #42146a;
        background-color: #ece2f7;
        transform: scale(1.2);
        cursor: pointer;

    }
}

@media screen and (min-width: 768px) {
    .header {
        background-color: transparent;
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100%; */
        z-index: 1;
    }

    .scrolled {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 1;
    }

    /* .notscrolled {
        opacity: 0;
    } */

    .faBarsStaggered, .faXmark {
        display: none;
    }
    
    .header-links, .header-login {
        display: flex;
        align-items: center;
        
        & > a {
            color: #353535;
            padding: 0 1.5em;
            font-size: 1rem;
        }

        /* & a.active {
            TO DO
        } */

        & .login {
            font-weight: 600;
        }

        & .signup {
            background-color: #63146a;
            border: 1px solid transparent;
            color: #fff;
            padding: .5em 1.5em;
            border-radius: .3rem;
            font-weight: 500;
            transition: all .3s ease-in-out;
        }

        & .signup:hover {
            background-color: #ece2f7;
            border: 1px solid #63146a;
            color: #36146a;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 992px) {
    .header-links a, .header-login a {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 1400px;
        margin: 0 auto;
    }

    .header-logo, .header-links, .header-login {
        font-size: 1.7rem;
    }
}