.SignUp {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > form {
    width: 90%;
    margin: 3em 0;
    padding: 2em 1em;
    background-color: var(--light-purple-blue);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > input {
      font-family: "Montserrat", sans-serif;
      margin: 0.5em 0;
      padding: 0.5em;
      width: 90%;
      border: 1px solid transparent;
      border-radius: 0.5rem;

      &:hover,
      &:focus {
        border: 1px solid var(--dark-gray);
      }
    }

    & > label {
      margin: 0.5em 0;
      width: 90%;
      display: flex;
      justify-content: left;
      align-items: center;

      & > input {
        margin-right: 0.8em;
      }
    }

    & > button {
      width: 90%;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      padding: 0.5em 1em;
      margin: 1em 0;
      border-radius: 0.5rem;
      background-color: var(--dark-purple);
      color: var(--white);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--purple-buttons);
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    & > p {
      font-size: 0.85rem;

      & > a {
        color: var(--dark-purple);
        text-decoration: underline;
      }
    }
  }

  & .SignUpImage {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .SignUp {
    flex-direction: row;
    justify-content: space-around;

    & > form {
      width: 45%;
      margin: 0 2em;
    }

    & .SignUpImage {
      width: 25%;
      margin: 0 2em;
      display: block;
    }
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1280px) {
  .SignUp {
    justify-content: space-evenly;
    & > form {
      width: 35%;
      max-width: 40%;
    }

    & .SignUpImage {
      width: 20%;
      max-width: 20%;
    }
  }
}
